<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>controllers.test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutCOntroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDao</servlet-name>
        <servlet-class>dao.ProductDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InAndDeProductController</servlet-name>
        <servlet-class>controllers.InAndDeProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SneakerController</servlet-name>
        <servlet-class>controllers.SneakerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <servlet-class>controllers.DeleteFromCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controllers.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>controllers.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderController</servlet-name>
        <servlet-class>controllers.CancelOrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/use-test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDao</servlet-name>
        <url-pattern>/ProductDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InAndDeProductController</servlet-name>
        <url-pattern>/InAndDeProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SneakerController</servlet-name>
        <url-pattern>/SneakerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFromCartServlet</servlet-name>
        <url-pattern>/DeleteFromCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/PaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderController</servlet-name>
        <url-pattern>/CancelOrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
